# This file serves as a template for environment variables needed for the project.
# It includes placeholders for sensitive information like API keys and bot tokens.

BOT_TOKEN=6402697905:AAHnbua6GsnBB1LllUIccyS1GSRettPPqQc
API_KEY=
ADMIN_CHAT_ID=your_admin_chat_id_here
DATABASE_URL=your_database_url_here
REDIS_URL=your_redis_url_here
TELEGRAM_API_URL=https://api.telegram.org/bot${BOT_TOKEN}/
LOG_LEVEL=info
MEDIA_STORAGE_PATH=./media_storage/